app/code/Enterprise/Reward/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="shoppingCartInfoEntity">
                <xsd:sequence>
                    <xsd:element name="use_reward_points" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="reward_points_balance" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="base_reward_currency_amount" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="reward_currency_amount" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderListEntity">
                <xsd:sequence>
                    <xsd:element name="reward_points_balance" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_reward_currency_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="reward_currency_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_rwrd_crrncy_amt_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="rwrd_currency_amount_invoiced" type="xsd:string" minOccurs="0" />
                    <xsd:element name="base_rwrd_crrncy_amnt_refnded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="rwrd_crrncy_amnt_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="reward_points_balance_refunded" type="xsd:string" minOccurs="0" />
                    <xsd:element name="reward_points_balance_refund" type="xsd:string" minOccurs="0" />
                    <xsd:element name="reward_salesrule_points" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="salesOrderCreditmemoEntity">
                <xsd:sequence>
                    <xsd:element name="base_reward_currency_amount" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="reward_currency_amount" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="reward_points_balance" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="reward_points_balance_refund" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
