app/code/Magento/CustomerBalance/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
             <xsd:complexType name="magentoCustomerbalanceHistoryItemEntity">
                <xsd:sequence>
                    <xsd:element name="history_id" type="xsd:string" />
                    <xsd:element name="balance_id" type="xsd:string" />
                    <xsd:element name="updated_at" type="xsd:string" />
                    <xsd:element name="action" type="xsd:string" />
                    <xsd:element name="balance_amount" type="xsd:string" />
                    <xsd:element name="balance_delta" type="xsd:string" />
                    <xsd:element name="additional_info" type="xsd:string" />
                    <xsd:element name="is_customer_notified" type="xsd:string" />
                    <xsd:element name="customer_id" type="xsd:string" />
                    <xsd:element name="website_id" type="xsd:string" />
                    <xsd:element name="base_currency_code" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="magentoCustomerbalanceHistoryItemEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:magentoCustomerbalanceHistoryItemEntity" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="magentoCustomerbalanceBalanceRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="websiteId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="magentoCustomerbalanceBalanceResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="magentoCustomerbalanceHistoryRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="websiteId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="magentoCustomerbalanceHistoryResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:magentoCustomerbalanceHistoryItemEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerbalanceSetAmountRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerbalanceSetAmountResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:float" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerbalanceRemoveAmountRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="shoppingCartCustomerbalanceRemoveAmountResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="magentoCustomerbalanceBalanceRequest">
        <wsdl:part name="parameters" element="typens:magentoCustomerbalanceBalanceRequestParam" />
    </wsdl:message>
    <wsdl:message name="magentoCustomerbalanceBalanceResponse">
        <wsdl:part name="parameters" element="typens:magentoCustomerbalanceBalanceResponseParam" />
    </wsdl:message>
    <wsdl:message name="magentoCustomerbalanceHistoryRequest">
        <wsdl:part name="parameters" element="typens:magentoCustomerbalanceHistoryRequestParam" />
    </wsdl:message>
    <wsdl:message name="magentoCustomerbalanceHistoryResponse">
        <wsdl:part name="parameters" element="typens:magentoCustomerbalanceHistoryResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerbalanceSetAmountRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerbalanceSetAmountRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerbalanceSetAmountResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerbalanceSetAmountResponseParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerbalanceRemoveAmountRequest">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerbalanceRemoveAmountRequestParam" />
    </wsdl:message>
    <wsdl:message name="shoppingCartCustomerbalanceRemoveAmountResponse">
        <wsdl:part name="parameters" element="typens:shoppingCartCustomerbalanceRemoveAmountResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="magentoCustomerbalanceBalance">
            <wsdl:documentation>Retrieve customer store credit balance information</wsdl:documentation>
            <wsdl:input message="typens:magentoCustomerbalanceBalanceRequest" />
            <wsdl:output message="typens:magentoCustomerbalanceBalanceResponse" />
        </wsdl:operation>
        <wsdl:operation name="magentoCustomerbalanceHistory">
            <wsdl:documentation>Retrieve customer store credit history information</wsdl:documentation>
            <wsdl:input message="typens:magentoCustomerbalanceHistoryRequest" />
            <wsdl:output message="typens:magentoCustomerbalanceHistoryResponse" />
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerbalanceSetAmount">
            <wsdl:documentation>Set amount from customer store credit into shopping cart (quote)</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCustomerbalanceSetAmountRequest" />
            <wsdl:output message="typens:shoppingCartCustomerbalanceSetAmountResponse" />
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerbalanceRemoveAmount">
            <wsdl:documentation>Remove amount from shopping cart (quote) and increase customer store credit</wsdl:documentation>
            <wsdl:input message="typens:shoppingCartCustomerbalanceRemoveAmountRequest" />
            <wsdl:output message="typens:shoppingCartCustomerbalanceRemoveAmountResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="magentoCustomerbalanceBalance">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="magentoCustomerbalanceHistory">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerbalanceSetAmount">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="shoppingCartCustomerbalanceRemoveAmount">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
