doc/layout.dtd

<!ELEMENT layout ANY>

<!ELEMENT block (action | block)*>
<!ATTLIST block
    type CDATA #REQUIRED
    name CDATA #IMPLIED
    as CDATA #IMPLIED
    before CDATA #IMPLIED
    after CDATA #IMPLIED
    output CDATA #IMPLIED
>

<!ELEMENT action ANY>
<!ATTLIST action
    method CDATA #REQUIRED
    json NMTOKENS #IMPLIED
    translate NMTOKENS #IMPLIED
>

<!ELEMENT reference (action | block)*>
<!ATTLIST reference
    name CDATA #REQUIRED
>
