lib/internal/Magento/Framework/Service/etc/data_object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* {license_notice}
*
* @copyright   {copyright}
* @license     {license_link}
*/
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="extended_attributes" type="extended_attributesType">
      <xs:annotation>
          <xs:documentation>Main schema element. Extended Attributes description</xs:documentation>
      </xs:annotation>
  </xs:element>
  <xs:complexType name="fieldType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="extended_attributesType">
    <xs:sequence>
      <xs:element type="fieldType" name="field"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="for"/>
  </xs:complexType>
</xs:schema>