dev/api-tests/integration/testsuite/Compatibility/Soap/_files/ignore.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="Magento" targetNamespace="urn:Magento">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="complexFilter">
                <all>
                    <element name="value" type="typens:associativeAnyTypeEntity" typeIgnored="1">
                        <comment>Fixed MAGE-6434: API fixes merge</comment>
                    </element>
                </all>
            </complexType>
            <complexType name="salesOrderListEntity">
                <all>
                    <element name="base_customer_balance_total_refunded" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                    <element name="customer_balance_total_refunded" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                    <element name="base_reward_currency_amount_invoiced" nameIgnored="1" type="xsd:string" minOccurs="0">
                         <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                    <element name="base_reward_currency_amount_refunded" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                    <element name="reward_currency_amount_refunded" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                    <element name="reward_points_balance_to_refund" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                    <element name="reward_currency_amount_invoiced" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                </all>
            </complexType>
            <complexType name="salesOrderListEntity">
                <all>
                    <element name="base_reward_currency_amount_invoiced" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                </all>
            </complexType>
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="base_weee_tax_applied_row_amount" nameIgnored="1" type="xsd:string" minOccurs="0">
                         <comment>MAGETWO-471: removed old fields map functionality</comment>
                     </element>
                </all>
            </complexType>
            <complexType name="shoppingCartInfoEntity">
                <all>
                    <element name="base_customer_balance_amount_used" nameIgnored="1" type="xsd:double" minOccurs="0">
                        <comment>MAGETWO-471: removed old fields map functionality</comment>
                    </element>
                </all>
            </complexType>
            <complexType name="salesOrderInvoiceItemEntity">
                <all>
                    <element name="base_weee_tax_applied_row_amount" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                </all>
            </complexType>
            <complexType name="shoppingCartItemEntity">
                <all>
                    <element name="base_weee_tax_applied_row_amount" nameIgnored="1" type="xsd:string" minOccurs="0">
                        <comment>MAGETWO-471: Varein_Object old fields replacement</comment>
                    </element>
                </all>
            </complexType>
        </schema>
    </types>
    <message name="salesOrderInvoiceCreateRequest" ignored="0">
        <part name="invoiceIncrementId" nameIgnored="1" type="xsd:string">
            <comment>Fixed APIA-475: WSDL definition for salesOrderInvoiceCreate method incorrect</comment>
        </part>
    </message>
</definitions>
