dev/tests/api-functional/_files/TestModule1/etc/schema/TestV2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:mage="http://www.magento.com">
    <xs:include schemaLocation="TestV1.xsd" />

    <xs:element name="deleteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
