app/code/Magento/Oauth/etc/schema/OauthV1.xsd

<!--
/**
 * {license_notice}

 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://magento.com/oauthV1" xmlns="http://magento.com/oauthV1">

    <xsd:complexType name="CreateConsumerRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Add-On Name</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Consumer Key</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="secret" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Consumer Secret</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="http_post_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Add-On HTTP POST Url</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CreateConsumerResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the CreateConsumer call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="entity_id" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>Consumer Id</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Consumer Key</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="secret" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Consumer Secret</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="http_post_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Add-On HTTP Post URL</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:callInfo>
                            <inf:callName>CreateConsumer</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PostToConsumerRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="entity_id" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>Consumer Id</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:callInfo>
                            <inf:callName>PostToConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Consumer Key</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>PostToConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="secret" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Consumer Secret</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>PostToConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="http_post_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Add-On HTTP POST Url</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:callInfo>
                            <inf:callName>PostToConsumer</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PostToConsumerResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the PostToConsumer call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oauth_verifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>OAuth Verifier Token</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:length>32</inf:length>
                        <inf:callInfo>
                            <inf:callName>PostToConsumer</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetRequestTokenRequest">
        <xsd:annotation>
            <xsd:documentation>Request container for the GetRequestToken call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oauth_consumer_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The Consumer Key value provided after the registration of the application.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_nonce" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A random value, uniquely generated by the application.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_signature_method" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Name of the signature method used to sign the request. Can have one of the following values: HMAC-SHA256.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_signature" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Calculated signature based on the signature method specified.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_timestamp" type="xsd:integer">
                <xsd:annotation>
                    <xsd:documentation>a positive integer, expressed in the number of seconds since January 1, 1970 00:00:00 GMT.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_version" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The version of Oauth protocol being used.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_verifier" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The verification code that is tied to the authorization token.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="http_method" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>the HTTP method used for the call GET or POST</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="request_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The url of the current request</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetRequestTokenResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the GetRequestToken call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oauth_token" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The Access Token that provides access to protected resources.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>GetRequestToken</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_token_secret" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The secret that is associated with the Access Token.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>GetAccessToken</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetAccessTokenRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="tokenRequest" type="tokenRequest">
                <xsd:annotation>
                    <xsd:documentation>Token request object</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>GetAccessToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetAccessTokenResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the GetAccessToken call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oauth_token" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The Access Token that provides access to protected resources.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>GetAccessToken</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oauth_token_secret" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The secret that is associated with the Access Token.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>GetAccessToken</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ValidateAccessTokenRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="tokenRequest" type="tokenRequest">
                <xsd:annotation>
                    <xsd:documentation>Token request object</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>ValidateAccessToken</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ValidateAccessTokenResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the GetAccessToken call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="isValid" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>The Access Token that provides access to protected resources.</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>ValidateAccessToken</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:complexType name="tokenRequest">
        <xsd:sequence>
            <xsd:element name="request_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Request URl</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="http_method" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>HTTP method</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="request_parameters" type="requestParameterArray">
                <xsd:annotation>
                    <xsd:documentation>Request parameter array</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="requestParameterArray">
        <xsd:sequence>
            <xsd:element name="oauth_header" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Oauth Header String</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="content_type" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Content Type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="request_body" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Subscription Name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
