dev/tests/api-functional/_files/TestModule2/etc/schema/AllSoapNoRestV1.xsd

<!--
/**
 * {license_notice}

 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="testModule2AllSoapNoRestItemRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Entity ID</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestItem</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2AllSoapNoRestItemResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2AllSoapNoRestItem call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestItem</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="testModule2AllSoapNoRestItemsResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2AllSoapNoRestItems call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray"
                         type="typens:testModule2AllSoapNoRestItemsArray">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestItems</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="testModule2AllSoapNoRestItemsArray">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2AllSoapNoRestItems call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestItems</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestItem</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="testModule2AllSoapNoRestCreateRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestCreate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2AllSoapNoRestCreateResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2AllSoapNoRestCreate call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestCreate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" minOccurs="1" maxOccurs="1" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestCreate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2AllSoapNoRestUpdateRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Entity ID</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestUpdate</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2AllSoapNoRestUpdateResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2AllSoapNoRestUpdate call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestUpdate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2AllSoapNoRestRemoveRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Entity ID</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestRemove</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2AllSoapNoRestRemoveResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2AllSoapNoRestRemove call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2AllSoapNoRestRemove</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>