dev/tests/api-functional/_files/TestModule2/etc/schema/NoWebApiXmlV1.xsd

<!--
/**
 * {license_notice}

 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="testModule2NoWebApiXmlItemRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Entity ID</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlItem</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2NoWebApiXmlItemResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2NoWebApiXmlItem call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlItem</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="testModule2NoWebApiXmlItemsResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2NoWebApiXmlItems call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray"
                         type="typens:testModule2NoWebApiXmlItemsArray">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlItems</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="testModule2NoWebApiXmlItemsArray">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2NoWebApiXmlItems call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlItems</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name"  type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlItem</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="testModule2NoWebApiXmlCreateRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name"  type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlCreate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2NoWebApiXmlCreateResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2NoWebApiXmlCreate call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlCreate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name"  type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlCreate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2NoWebApiXmlUpdateRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Entity ID</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlUpdate</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2NoWebApiXmlUpdateResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2NoWebApiXmlUpdate call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlUpdate</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2NoWebApiXmlRemoveRequest">
        <xsd:annotation>
            <xsd:documentation/>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Entity ID</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:min/>
                        <inf:max/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlRemove</inf:callName>
                            <inf:requiredInput>Yes</inf:requiredInput>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="testModule2NoWebApiXmlRemoveResponse">
        <xsd:annotation>
            <xsd:documentation>Response container for the testModule2NoWebApiXmlRemove call.</xsd:documentation>
            <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap"/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Default label</xsd:documentation>
                    <xsd:appinfo xmlns:inf="http://magento.ll/webapi/soap">
                        <inf:maxLength/>
                        <inf:callInfo>
                            <inf:callName>testModule2NoWebApiXmlRemove</inf:callName>
                            <inf:returned>Always</inf:returned>
                        </inf:callInfo>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>